<div class="header">

  <button class="header-action" ng-class="showNavigation ? 'is-active' : ''" ng-click="showNavigation = !showNavigation">
    <span analytics-on="click" analytics-event="Toggle view" analytics-category="Account settings">
      <svg role="presentation"><use xlink:href="#logo"></use></svg>
    </span>
  </button>

  {{#editMode}}
    <button class="header-action" ng-class="optionsService.isOpen ? 'is-active' : ''" ng-click="optionsService.open(); showNavigation = false">
      <span analytics-on="click" analytics-event="Show view" analytics-category="Website design settings">
        <svg role="presentation"><use xlink:href="#sliders"></use></svg>
      </span>
    </button>
  {{/editMode}}

  {{#onSite}}
    {{#editMode}}
      <!--<span class="header-action is-link">{{{siteData.name}}}</span>-->
    {{/editMode}}
  {{/onSite}}
</div>

{{>window-account}}

{{#editMode}}
  {{>window-options}}
{{/editMode}}

<div id="flash">
  <a class="close" ng-click="flashService.hide()">×</a>
  <pre>[[flashService.message]]</pre>
</div>
