<!doctype html>
<html {{#if index}}lang="en"{{/if}} ng-app="posties"
      ng-controller="{{angularCtrl}}"
      ng-style="{'background': options.background_color}">
  {{>head}}
  <body class="Site"
        ng-class="{'Site--withModal': publish.visible}"
        ng-click="accountOpen = false; optionsOpen = false;">

    {{>header}}

    <div class="Site-container">

      {{#unless index}}{{#unless onSite}}
        <h1 style="margin-top: 60px; text-align: center; font-size: 200%;">{{title}}</h1>
      {{/unless}}{{/unless}}

      {{#if editMode}}
        <div ng-controller="EditorCtrl">
          {{#if onSite}}
            {{>welcome}}
          {{/if}}

          <ul id="parts"
              class="parts"
              ng-class="options.boxes ? '' : 'is-unboxed'"
              ng-style="{ 'color': options.text_color }">
            <li class="part"
                ng-repeat="part in parts"
                data-id="[[part.id]]"
                data-rank="[[part.rank]]">
              <ng-include src="part.template"></ng-include>
            </li>
          </ul>

          {{>partTypes}}
        </div>
      {{/if}}

      {{#unless editMode}}
        {{#with siteData.options}}
          <style>
            {{>styles}}
          </style>
        {{/with}}
        <div class="parts">
          {{#each siteData.parts}}
            {{#if typeText}}    {{> part-static/text}}    {{/if}}
            {{#if typeHeading}} {{> part-static/heading}} {{/if}}
            {{#if typeImage}}   {{> part-static/image}}   {{/if}}
            {{#if typeVideo}}   {{> part-static/video}}   {{/if}}
          {{/each}}
        </div>
      {{/unless}}

      {{#if index}}
        <div class="block is-padded">
          <button class="button is-larger is-full" ng-click="togglePublish()">
            <span analytics-on="click" analytics-event="Enter sign up" analytics-category="Sign up">
              <svg role="presentation"><use xlink:href="#arrow-out"></use></svg> Publish this website
            </span>
          </button>
        </div>
        {{>publish}}
      {{/if}}
    </div>

    {{>foot}}
  </body>
</html>