<!DOCTYPE html>
<html ng-app="posties"
      ng-controller="{{{angularCtrl}}}"
      ng-style="{'background': options.background_color}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    {{#description}}<meta name="description" content="{{description}}">{{/description}}
    <meta name="viewport"
          content="width=device-width, initial-scale=1{{#editMode}}, maximum-scale=1{{/editMode}}">
    <link rel="stylesheet" href="{{{assetUrl}}}posties.css">
  </head>
  <body class="site">
    {{>header}}

    <div class="site-container">

      {{^index}}{{^onSite}}
        <h1 style="margin-top: 60px; text-align: center; font-size: 200%;">{{title}}</h1>
      {{/onSite}}{{/index}}

      <div ng-controller="EditorCtrl">
        {{#onSite}}
          {{#editMode}}
            {{>welcome}}
          {{/editMode}}
        {{/onSite}}

        <ul id="parts" ng-style="{ 'color': options.text_color }">
          <li ng-repeat="part in parts" data-id="[[part.id]]" data-rank="[[part.rank]]" class="part">
            <ng-include src="part.template"></ng-include>
          </li>
        </ul>

        {{#editMode}}
          {{>partTypes}}
        {{/editMode}}
      </div>

      {{#index}}
        <div class="block is-padded">
          <button class="button is-larger is-full" ng-click="togglePublish()">
            <span analytics-on="click" analytics-event="Enter sign up" analytics-category="Sign up">
              <svg role="presentation"><use xlink:href="#arrow-out"></use></svg> Publish this website
            </span>
          </button>
        </div>
        {{>publish}}
      {{/index}}
    </div>

    {{>part/options}}
    {{>part/text}}
    {{>part/heading}}
    {{>part/image}}
    {{>part/video}}
    {{#editMode}}
      {{>part/image-uploading}}
      {{>part/image-loading}}
      {{>part/video-input}}
    {{/editMode}}

    {{>symbols}}

    <script>
      var FONTS = [{{#fonts}}'{{{.}}}',{{/fonts}}];
      {{#onSite}}
      var SITE_DATA = {{{siteDataString}}};
      {{/onSite}}
      {{^onSite}}
      var SITE_DATA = false;
      {{/onSite}}
      {{#editMode}}
      var DEFAULT_SITE_DATA = {{{defaultSiteDataString}}};
      var FILEPICKER_KEY = '{{filePickerKey}}';
      {{/editMode}}

      // Trigger svg redraw (safari issue)
      document.addEventListener('DOMContentLoaded', function(){
        var elms = document.getElementsByTagName('use');
        Array.prototype.forEach.call(elms, function(el, i){
          var href = el.getAttribute('xlink:href');
          el.setAttribute('xlink:href', href);
        });
      });

      {{#analyticsCode}}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{{analyticsCode}}}', 'auto');
      ga('require', 'displayfeatures');
      {{/analyticsCode}}
    </script>

    {{#production}}
    <script src="{{{assetUrl}}}posties.js"></script>
    {{/production}}
    {{^production}}
    <script src="{{{assetUrl}}}libs.js"></script>
    <script src="{{{assetUrl}}}index.js"></script>
    {{/production}}

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>WebFontConfig = {};</script>

    {{#editMode}}
    <script src="//api.filepicker.io/v1/filepicker.js"></script>
    <script>filepicker.setKey('{{{filePickerKey}}}');</script>
    {{/editMode}}
  </body>
</html>