<!DOCTYPE html>
<html ng-app="posties"
      ng-controller="{{{angularCtrl}}}"
      ng-style="{'background': options.background_color}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    {{#if description}}<meta name="description" content="{{description}}">{{/if}}
    <meta name="viewport"
          content="width=device-width, initial-scale=1{{#if editMode}}, maximum-scale=1{{/if}}">
    <link rel="stylesheet" href="{{{assetUrl}}}posties.css">
  </head>
  <body class="Site" ng-click="accountOpen = false; optionsOpen = false;" ng-class="{'Site--withModal': publish.visible}">
    {{>header}}

    <div class="Site-container">

      {{#unless index}}{{#unless onSite}}
        <h1 style="margin-top: 60px; text-align: center; font-size: 200%;">{{title}}</h1>
      {{/unless}}{{/unless}}

      {{#if editMode}}
        <div ng-controller="EditorCtrl">
          {{#if onSite}}
            {{>welcome}}
          {{/if}}

          <ul id="parts" class="parts" ng-class="options.boxes ? '' : 'is-unboxed'" ng-style="{ 'color': options.text_color }">
            <li ng-repeat="part in parts" data-id="[[part.id]]" data-rank="[[part.rank]]" class="part">
              <ng-include src="part.template"></ng-include>
            </li>
          </ul>

          {{>partTypes}}
        </div>
      {{/if}}

      {{#unless editMode}}
        {{#with siteData.options}}
          <style>
            {{>styles}}
          </style>
        {{/with}}
        <div class="parts">
          {{#each siteData.parts}}
            {{#if typeText}}    {{> part-static/text}}    {{/if}}
            {{#if typeHeading}} {{> part-static/heading}} {{/if}}
            {{#if typeImage}}   {{> part-static/image}}   {{/if}}
            {{#if typeVideo}}   {{> part-static/video}}   {{/if}}
          {{/each}}
        </div>
      {{/unless}}

      {{#if index}}
        <div class="block is-padded">
          <button class="button is-larger is-full" ng-click="togglePublish()">
            <span analytics-on="click" analytics-event="Enter sign up" analytics-category="Sign up">
              <svg role="presentation"><use xlink:href="#arrow-out"></use></svg> Publish this website
            </span>
          </button>
        </div>
        {{>publish}}
      {{/if}}
    </div>

    {{#if editMode}}
      <script type="text/ng-template" id="options">{{>part/options}}</script>
      <script type="text/ng-template" id="text">{{>part/text}}</script>
      <script type="text/ng-template" id="heading">{{>part/heading}}</script>
      <script type="text/ng-template" id="image">{{>part/image}}</script>
      <script type="text/ng-template" id="video">{{>part/video}}</script>
      <script type="text/ng-template" id="image-uploading">{{>part/image-uploading}}</script>
      <script type="text/ng-template" id="image-loading">{{>part/image-loading}}</script>
      <script type="text/ng-template" id="video-input">{{>part/video-input}}</script>
    {{/if}}

    {{>symbols}}

    <script>
      var FONTS = [{{#each fonts}}'{{{.}}}',{{/each}}];
      {{#if onSite}}
      var SITE_DATA = {{{siteDataString}}};
      {{/if}}
      {{#unless onSite}}
      var SITE_DATA = false;
      {{/unless}}
      {{#if editMode}}
      var DEFAULT_SITE_DATA = {{{defaultSiteDataString}}};
      var FILEPICKER_KEY = '{{filePickerKey}}';
      {{/if}}

      // Trigger svg redraw (safari issue)
      document.addEventListener('DOMContentLoaded', function(){
        var elms = document.getElementsByTagName('use');
        Array.prototype.forEach.call(elms, function(el, i){
          var href = el.getAttribute('xlink:href');
          el.setAttribute('xlink:href', href);
        });
      });

      {{#if analyticsCode}}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{{analyticsCode}}}', 'auto');
      ga('require', 'displayfeatures');
      {{/if}}
    </script>

    {{#if production}}
    <script src="{{{assetUrl}}}posties.js"></script>
    {{/if}}
    {{#unless production}}
    <script src="{{{assetUrl}}}libs.js"></script>
    <script src="{{{assetUrl}}}index.js"></script>
    {{/unless}}

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>WebFontConfig = {};</script>

    {{#if editMode}}
    <script src="//api.filepicker.io/v1/filepicker.js"></script>
    <script>filepicker.setKey('{{{filePickerKey}}}');</script>
    {{/if}}
  </body>
</html>