<div class="part-option">
  <button class="part-option-action is-up" ng-click="movePart($index, $index - 1)" title="move up" tabindex="-1">
    <svg role="presentation"><use xlink:href="#arrow-up"></use></svg>
  </button>
  <button class="part-option-action is-down" ng-click="movePart($index, $index + 1)" title="move down" tabindex="-1">
    <svg role="presentation"><use xlink:href="#arrow-down"></use></svg>
  </button>
  <button class="part-option-action is-delete" ng-click="deletePart($index, part)" title="delete" tabindex="-1">
    <svg role="presentation"><use xlink:href="#cross"></use></svg>
  </button>
</div>
