<div id="closeOverlays" ng-show="optionsService.isOpen" ng-click="optionsService.submitUpdateAndClose(options)"></div>

<div class="popover is-customize updateSettings" id="modalUpdateSettings" ng-show="optionsService.isOpen" ng-cloak>
  <div class="popover-arrow"><svg role="presentation"><use xlink:href="#popover-arrow"></use></svg></div>
  <form class="panels" id="updateSettings" method="post" name="formSettings" ng-submit="optionsService.submitUpdate(options)" novalidate>
    <div class="panel is-active" id="panelPrimarySettings">

      <!-- Links to font panels -->

      <a class="panel-item" data-go-to-panel="panelTextFont" analytics-on="click" analytics-event="Change" analytics-category="Website design settings" analytics-label="Text font">
        <span class="panel-item-text">Text font</span>
        <div class="panel-item-preview">
          <span class="panel-item-text is-larger" ng-model="options.text_font" style="font-family: '[[options.text_font]]'">
            [[options.text_font]]
          </span>
        </div>
        <div class="panel-item-icon"><svg role="presentation"><use xlink:href="#arrow-right"></use></svg></div>
      </a>

      <a class="panel-item" data-go-to-panel="panelHeadlineFont" analytics-on="click" analytics-event="Change" analytics-category="Website design settings" analytics-label="Headline font">
        <span class="panel-item-text">Headline font</span>
        <div class="panel-item-preview">
          <span class="panel-item-text is-larger" ng-model="options.heading_font" style="font-family: '[[options.heading_font]]'">
            [[options.heading_font]]
          </span>
        </div>
        <div class="panel-item-icon"><svg role="presentation"><use xlink:href="#arrow-right"></use></svg></div>
      </a>

      <!-- Inline show boxes -->

      <label class="panel-item toggle-parent" for="boxes" analytics-on="click" analytics-event="Change" analytics-category="Website design settings" analytics-label="Toggle boxes">
        <span class="panel-item-text">Use boxes</span>
        <span class="panel-item-preview">
          <span class="panel-item-toggle toggle">
            <input id="boxes" type="checkbox" ng-checked="options.boxes" ng-model="options.boxes">
            <span class="toggle-handle"></span>
          </span>
        </span>
      </label>

      <!-- Links to color panels -->

      <a class="panel-item" data-go-to-panel="panelBoxColor" ng-class="options.boxes ? '' : 'is-disabled'" analytics-on="click" analytics-event="Change" analytics-category="Website design settings" analytics-label="Box color">
        <span class="panel-item-text">Box color</span>
        <span class="panel-item-preview" style="background-color: [[options.part_background_color]]"></span>
        <div class="panel-item-icon is-transparent"><svg role="presentation"><use xlink:href="#arrow-right"></use></svg></div>
      </a>

      <a class="panel-item" data-go-to-panel="panelTextColor" analytics-on="click" analytics-event="Change" analytics-category="Website design settings" analytics-label="Text color">
        <span class="panel-item-text">Text color</span>
        <span class="panel-item-preview" style="background-color: [[options.text_color]]"></span>
        <div class="panel-item-icon is-transparent"><svg role="presentation"><use xlink:href="#arrow-right"></use></svg></div>
      </a>

      <a class="panel-item" data-go-to-panel="panelBackground" analytics-on="click" analytics-event="Change" analytics-category="Website design settings" analytics-label="Background color">
        <span class="panel-item-text">Background</span>
        <span class="panel-item-preview" style="background-color: [[options.background_color]]"></span>
        <div class="panel-item-icon is-transparent"><svg role="presentation"><use xlink:href="#arrow-right"></use></svg></div>
      </a>

      <!-- Reset and randomize -->

      <div class="popover-body">
        <button class="button" ng-click="options = optionsService.getDefault()"><span analytics-on="click" analytics-event="Reset" analytics-category="Website design settings">Reset</span></button>
        <span style="margin-left: 0.5em;">or <a ng-click="options = optionsService.getRandom()"><span analytics-on="click" analytics-event="Randomize" analytics-category="Website design settings">randomize</span></a>!</span>
        <button id="saveoptions" class="button" style="display: none;">Save</button>
      </div>
    </div>


    <div class="panel" id="panelTextFont">
      <div class="popover-header">
        <button class="button" ng-click="optionsService.submitUpdate(options)" data-go-to-panel="panelPrimarySettings">
          <svg role="presentation"><use xlink:href="#arrow-left"></use></svg> Settings
        </button>
      </div>

      <div class="popover-scroll">
        {{#each fonts}}
          <a class="panel-item" style="font-family: '{{{.}}}'" ng-click="options.text_font = '{{{.}}}'">
            <span class="panel-item-text is-larger">{{{.}}}</span>
            <div class="panel-item-icon is-transparent is-static" ng-show="options.text_font === '{{{.}}}'"><svg role="presentation"><use xlink:href="#check"></use></svg></div>
          </a>
        {{/each}}
      </div>
    </div>

    <div class="panel" id="panelHeadlineFont">
      <div class="popover-header">
        <button class="button" ng-click="optionsService.submitUpdate(options)" data-go-to-panel="panelPrimarySettings">
          <svg role="presentation"><use xlink:href="#arrow-left"></use></svg> Settings
        </button>
      </div>

      <div class="popover-scroll">
        {{#each fonts}}
          <a class="panel-item" style="font-family: '{{{.}}}'" ng-click="options.heading_font = '{{{.}}}'">
            <span class="panel-item-text is-larger">{{{.}}}</span>
            <div class="panel-item-icon is-transparent is-static" ng-show="options.heading_font === '{{{.}}}'"><svg role="presentation"><use xlink:href="#check"></use></svg></div>
          </a>
        {{/each}}
      </div>
    </div>

    <div class="panel" id="panelBoxColor">
      <div class="popover-header">
        <button class="button" ng-click="optionsService.submitUpdate(options)" data-go-to-panel="panelPrimarySettings">
          <svg role="presentation"><use xlink:href="#arrow-left"></use></svg> Settings
        </button>
      </div>
      <div class="popover-body">
        <div class="palette">
          <button class="palette-item" ng-repeat="color in optionsService.getBackgroundPalette()" ng-style="{ 'background': color }" ng-click="options.part_background_color = color"></button>
        </div>
        <input class="minicolors" maxlength="7" type="text" ng-model="options.part_background_color">
        <input id="resultBoxColor" class="minicolors-result" type="hidden">
      </div>
    </div>

    <div class="panel" id="panelTextColor">
      <div class="popover-header">
        <button class="button" ng-click="optionsService.submitUpdate(options)" data-go-to-panel="panelPrimarySettings">
          <svg role="presentation"><use xlink:href="#arrow-left"></use></svg> Settings
        </button>
      </div>
      <div class="popover-body">
        <div class="palette">
          <button class="palette-item" ng-repeat="color in optionsService.getFontPalette()" ng-style="{ 'background': color }" ng-click="options.text_color = color"></button>
        </div>
        <input class="minicolors" maxlength="7" type="text" ng-model="options.text_color">
        <input id="resultTextColor" class="minicolors-result" type="hidden">
      </div>
    </div>

    <div class="panel" id="panelBackground">
      <div class="popover-header">
        <button class="button" ng-click="optionsService.submitUpdate(options)" data-go-to-panel="panelPrimarySettings">
          <svg role="presentation"><use xlink:href="#arrow-left"></use></svg> Settings
        </button>
      </div>
      <div class="popover-body">
        <div class="palette">
          <button class="palette-item" ng-repeat="color in optionsService.getBackgroundPalette()" ng-style="{ 'background': color }" ng-click="options.background_color = color"></button>
        </div>
        <input class="minicolors" maxlength="7" type="text" ng-model="options.background_color">
        <input id="resultBackground" class="minicolors-result" type="hidden">
      </div>
    </div>

  </form>
</div>
