.header {
  margin: 12px 14px -12px 0;
  user-select: none;
}

@media (--md-viewport) {
  .header {
    margin: 22px 24px 0 0;
  }
}

@media (--xl-viewport) {
  .header {

  }
}

.header-action {
  float: right;
  box-sizing: border-box;
  width: 33px;
  height: 35px;
  margin-left: 8px;
  line-height: 35px;
  background-position: center center;
  background-size: 33px auto;
  background-repeat: no-repeat;
  font-size: 14px;
  outline: 0;
  color: var(--color-element-light);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.header-action.is-active,
.header-action:hover {
  color: var(--color-element-dark);
}

@media (--md-viewport) {
  .header-action {
    margin-left: 12px;
  }
}

/* User link */

.header-action.is-link {
  width: auto;
  cursor: default;
  color: inherit;
}
