.part {
  position: relative;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

@media (--lg-viewport) {
  .part {
    font-size: 23px;
  }
}

.part:first-child {
  margin-top: 0;
}

.part:last-child {
  margin-bottom: 0;
}

.part:first-child .part-inner.is-unboxed {
  margin-top: 13px;
}

.part p,
.part h1 {
  margin: 0;
  font: inherit;
}

.part img,
.part iframe {
  width: 100%;
  display: block;
}

.part pre,
.part-editor {
  width: 100%;
  display: block;
  border: 0;
  font: inherit;
  white-space: pre-line;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  outline: 0;
}

.medium-editor-placeholder.part-editor:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder) !important;
  font-style: italic;
  pointer-events: none;
  text-align: center;
  width: 100%;
  padding: 34px 0;
  color: var(--color-text-light);
}

.part a {
  text-decoration: underline;
  color: inherit;
}

.part a:active {
  opacity: 0.8;
}

/**
 * Post content types
 */

.part-content-block {
  user-select: none;
}

.part-content-block.is-fixedratio {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  background: #000;
}

.part-content-block.is-fixedratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  visibility: hidden;
}

.part-content-pre {
  box-sizing: border-box;
  line-height: 1.2;
  background: #fff;
  padding: 26px 20px;
}

.part-editor {
  padding: 26px 20px;
  margin: -26px -20px;
}

.medium-editor-placeholder.part-editor:after {
  padding: 26px 0;
}

.part-content-pre.is-larger {
  font-size: 32px;
  padding: 22px 20px;
}

.part-content-pre.is-input {
  text-align: center;
  font-size: 18px;
}

.part-content-pre.is-larger .part-editor {
  padding: 22px 20px;
  margin: -22px -20px;
}

@media (--lg-viewport) {
  .part-content-pre.is-larger {
    font-size: 40px;
  }
}

.part-content-loading {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

/* Hidden but leave it in the flow to be sure it's loaded */
.part-loading-image {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
}

.part-content-loading span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: normal;
  user-select: none;
  cursor: default;
}

/**
 * Tweak for unboxed parts
 */

.part-inner.is-unboxed .part-content-pre {
  padding: 13px 10px;
}

.part-inner.is-unboxed .part-editor {
  padding: 13px 10px;
  margin: -13px -10px;
}

.part-inner.is-unboxed .medium-editor-placeholder.part-editor:after {
  padding: 13px 0;
}

.part-inner.is-unboxed .part-content-pre.is-larger {
  padding: 9px 10px;
}

.part-inner.is-unboxed .part-content-pre.is-larger .part-editor {
  padding: 9px 10px;
  margin: -9px -10px;
}

.part-inner.is-unboxed .part-content-block {
  margin: 13px 10px;
}

.part-inner.is-unboxed .part-content-loading {
  padding: 20px 10px;
}

.part-inner.is-unboxed .part-content-loading span {
  right: 10px;
}

@media (--md-viewport) {
  .part-content-pre {
    padding: 34px 32px;
  }

  .part-editor {
    padding: 34px 32px;
    margin: -34px -32px;
  }

  .medium-editor-placeholder.part-editor:after {
    padding: 34px 0;
  }

  .part-content-pre.is-larger {
    padding: 28px 32px;
  }

  .part-content-pre.is-larger .part-editor {
    padding: 28px 32px;
    margin: -28px -32px;
  }

  .part-content-loading {
    padding: 28px 32px;
  }

  .part-content-loading span {
    right: 32px;
  }

  .part-inner.is-unboxed .part-content-pre {
    padding: 13px 32px;
  }

  .part-inner.is-unboxed .part-editor {
    padding: 13px 32px;
    margin: -13px -32px;
  }

  .part-inner.is-unboxed .part-content-pre.is-larger {
    padding: 9px 32px;
  }

  .part-inner.is-unboxed .part-content-pre.is-larger .part-editor {
    padding: 9px 32px;
    margin: -9px -32px;
  }

  .part-inner.is-unboxed .part-content-block {
    margin: 16px 32px;
  }
}

/**
 * Post options
 */

.part-option {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 0 1px;
  z-index: 2;
}

.part-inner.is-unboxed .part-option {
  margin-top: -15px;
}

.part-option-action {
  width: 15px;
  height: 15px;
  padding: 8px;
  box-sizing: content-box;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color: var(--color-text);
}

.part-option-action:hover {
  color: var(--color-text-dark);
}

.part-inner.is-unboxed .part-option {
  margin: -13px 10px 0 0;
}

.part-inner.is-unboxed .part-content-block .part-option {
  margin-top: 0;
}

.part-option-action svg {
  border-radius: 50%;
  padding: 4px;
  margin: -4px 0 0 -4px;
}

@media (--md-viewport) {
  .part-inner.is-unboxed .part-option {
    margin-right: 32px;
  }
}

.part-content-block .part-option-action svg {
  background: rgba(255, 255, 255, .5);
  stroke: #000;
}

.part:first-child .part-option-action.is-up,
.part:last-child .part-option-action.is-down {
  display: none;
}
