html {
	font-size: 62.5%;
	color: #888;
	background: #f5f5f5;
}

body {
	font-family: Akkurat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	letter-spacing: -0.3px;
}

/**
 * Reset some elements
 */

ol,
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0;
	text-rendering: optimizeLegibility;
}

pre:focus {
	outline: 0;
}

/**
 * Basic typography
 */

h1,
h2,
h3 {
	font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: underline;
	color: inherit;
	cursor: pointer;
}

a:hover,
a:focus,
a:active {
	color: var(--color-text-dark);
}

/**
 * Angular.js helpers
 */

[ng\:cloak],
[ng-cloak],
.ng-cloak {
	display: none !important;
}
