/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.modal {
		width: 90%;
		padding: 1rem;
	}
	.modal p.close a {
		top: -10px;
		right: -11px;
	}
	button,
	.button {
		font-size: 1.6rem;
	}
	.modal.updateSettings {
		padding: 1rem;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	#customize {
		background: url('../img/iconCustomize@2x.png') no-repeat 0 0;
		background-size: 100% 100%;
	}
	#customize.active {
		background: url('../img/iconCustomizeActive@2x.png') no-repeat 0 0;
		background-size: 100% 100%;
	}
	#logo {
		background: url('../img/logo@2x.png') no-repeat 0 0;
		background-size: 100% 100%;
	}
	.addPost span {
		background: url('../img/iconAdd@2x.png') no-repeat 0 3px;
		background-size: 85% 85%;
	}

	.btnPublishContainer button span {
		background: url('../img/iconPublish@2x.png') no-repeat 0 1px;
		background-size: 90% 90%;
	}
	
}