/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  button,
  .button {
    font-size: 1.6rem;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media (--high-resolution) {
  #customize {
    background: url('../img/iconCustomizeActive@2x.png') no-repeat 0 0;
    background-size: 100% 100%;
  }
  #customize.active {
    background-size: 100% 100%;
  }
  #logo {
    background: url('../img/logo@2x.png') no-repeat 0 0;
    background-size: 100% 100%;
  }
}
