html {
	font-size: 62.5%;
}
body {
	width: 80%;
	margin: 0 auto;
	font-size: 1.4rem;
	font-family: 'Akkurat';
	min-width: 300px;
	background: #f5f5f5;
	color: #999998;
	padding-bottom: 4rem;
	max-width: 700px;
	letter-spacing: 0px;
}
h1, h2, h3 {
	color: #555;
}
h2 {
	margin: 2rem 0;
}
h3 {
	margin-bottom: 2rem;
	font-weight: normal;
}
a, a:visited {
	text-decoration: none;
	color: #888;
	cursor: pointer;
}
p {
	margin: 0;
}
p a {
	text-decoration: underline;
}
header {
	height: 60px;
	position: relative;
}
header > a {
	float: right;
	margin-top: 1.5rem;
	font-size: 2rem;
	color: #c6c6c5;
}
header > a:visited {
	color: #555;
}
header a.menu {
	margin-left: 1rem;
}
header p {
	margin: 2rem 1rem 0 0;
	float: right;
}
h1 a {
	font-size: 2.8rem;
}
#logo {
	float: right;
	background: url('../img/logo.png') no-repeat 0 0;
	padding: 3px 15px;
	margin-left: 1rem;
}
#openTopMenu {
	float: right;
	background: url('../img/iconMenu.png') no-repeat 0 0;
	padding: 4px 17px;
	margin-left: 1rem;	
}
/*** GLOBAL FORMS ***/
fieldset select,
fieldset input[type="text"],
fieldset input[type="email"],
fieldset input[type="password"] {
	font-size: 2rem;
	padding: 8px;
}
fieldset input[type="text"],
fieldset input[type="email"],
fieldset input[type="password"] {
	border: none;
	border-bottom: 1px solid #ddd;
	font-style: italic;
	font-weight: lighter;
}
button {
	font-size: 2.4rem;
	border: 0;
	padding: 1rem;
	font-family: 'Akkurat';
	background: #faf8c6;
	color: #8a8a8a;
	box-shadow: 1px 2px 3px rgba(128, 128, 128, 0.5);
}
fieldset,
.formGroup {
	margin-bottom: 1rem;
}
fieldset:last-child,
.formGroup:last-child {
	margin-top: 3rem;
}
label + select {
	display: block;
	border: 1px solid #ddd;
	color: #666;
	outline: none;
	width: 85%;
	font-size: 1.4rem;
	border-radius: 0;
	background: #fff;
	padding: 10px 4px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

/*** UNIQUES ***/
#flash {
	z-index: 100;
	position: fixed;
	width: 50%;
	left: 25%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
}
#flash div {
	display: none;
	padding: .6rem;
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #fff;
	text-align: center;
}
#flash div p.close a {
	top: 0;
	right: 0;
	padding: 10px;
	background: url('../img/iconDeletePost.png') no-repeat 0 0;
}
#btnPublishContainer {
	display: block;
	text-align: center;
	margin-top: 2rem;
}
.postText {
	border: 0;
	padding: 4rem 2rem 8rem 2rem;
	line-height: 1.3;
	display: inline-block;
	width: 100%;
	font-size: 2.3rem;
	min-height: 170px;
	box-sizing: border-box;
	font-weight: lighter;
	background: #fff;
}
.postHeadline {
	border: 0;
	padding: 2rem;
	line-height: 1.3;
	white-space: pre-line;
	width: 100%;
	font-size: 4rem;
	min-height: 100px;
	box-sizing: border-box;
	font-weight: lighter;
	font-style: normal;
	background: #fff;
}
.createPostImage {
	text-align: center;
}
#addPost,
#btnPublishContainer button {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 660px;
}
#btnPublishContainer button {
	height: 87px;	
}
#postTypes {
	color: #8a8a8a;
	margin: 0;
	text-align: center;
}
#postTypes li {
	display: inline-block;
	margin-right: 2rem;
}
#postTypes button {
	width: 110px;
	padding-top: 49px;
	padding-bottom: 10px;
}
.addPostText {
	background: url('../img/iconAddText.png') #faf8c6 no-repeat center 19px;
	font-size: 1.1rem;
	line-height: 1.7rem;
	margin-right: -14px;
}
.addPostHeadline {
	background: url('../img/iconAddHeadline.png') #faf8c6 no-repeat center 17px;
	font-size: 1.1rem;
	line-height: 1.7rem;
	margin-right: -14px;
}
.addPostImage {
	background: url('../img/iconAddImage.png') #faf8c6 no-repeat center 14px;
	font-size: 1.1rem;
	line-height: 1.7rem;
	margin-right: -14px;
}

#publishNow {
	width: 80%;
	max-width: 660px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;

}

/*** GLOBAL CLASSES ***/
header div.menu {
	position: absolute;
	right: 0;
	top: 48px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 2px 1px #888;
	z-index: 100;
	padding: 0 12px;
}
header div.menu li {
	margin-bottom: .8rem;
}
.modal {
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 2px 1px #888;
	border: 1px solid #ddd;
	width: 60%;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 5%;
	padding: 2rem 3rem;
	z-index: 10;
}
.modal h3 {
	text-align: center;
	font-size: 2.2rem;
}
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
	width: 90%;
}
.modal .buttonContainer {
	clear: both;
	width: 100%;
}
.modal .close,
#flash .close {
	position: relative;
}
.modal .close a,
#flash .close a {
	cursor: pointer;
	float: right;
	position: absolute;
	top: -20px;
	right: -30px;
	padding: 4px 8px;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
}

.modal.updateSettings fieldset {
	width: 46%;
	display: inline-block;
	margin-bottom: 2rem;
	position: relative;
}
.modal.updateSettings label {
	margin-bottom: .8rem;
	display: inline-block;
}
.modal.updateSettings input[type="text"],
.modal.updateSettings input[type="email"],
.modal.updateSettings input[type="password"] {
	width: 60%;
	border: 1px solid #ddd;
	display: block;
}
.modal.createUser .url {
	font-size: 2rem;
	padding: 8px;
}
.post {
	position: relative;
	margin-bottom: 1.1rem;
	box-sizing: border-box;
}
.post pre a {
	text-decoration: underline;
	color: inherit;
}
.post .sorter {
	position: absolute;
	top: 2px;
	right: 60px;
	font-size: 22px;
}
.post .sorter a {
	position: absolute;
	color: #a9a9a9;
	cursor: pointer;
}
.post:first-child .sorter a:first-child,
.post.firstChild .sorter a:first-child,
.post:last-child .sorter a:last-child,
.post.lastChild .sorter a:last-child {
	color: #e3e3e3;
	pointer-events: none;
}
.post .sorter .up {
	top: 0;
}
.post .sorter .down {
	top: 3px;
	left: -28px;
}
.post .delete {
	position: absolute;
	top: 8px;
	right: 8px;
	background: url('../img/iconDeletePost.png') no-repeat 0 0;
	padding: 10px;
}
.userOwnsPage .post .delete {
	display: block;
}
.post.headline h5 {
	border: 0;
	font-size: 4rem;
	padding: 2rem;
	margin: 0 0 4rem 0;
	line-height: 1.2;
	box-sizing: border-box;
	white-space: pre-line;
	width: 100%;
}
.post.text p {
	border: 0;
	font-size: 2.3rem;
	padding: 2rem;
	margin: 0 0 4rem 0;
	line-height: 1.2;
	box-sizing: border-box;
	white-space: pre-line;
	width: 100%;
}
.post.image img {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
}
.colorpicker {
	text-indent: -99999px;
}
#postForms {
	display: none;
}
/*** CSS UTIL ***/
.hidden {
	display: none;
}
