html {
	font-size: 62.5%;
}
body {
	width: 80%;
	margin: 0 auto;
	font-size: 1.4rem;
	font-family: 'Helvetica', arial, sans-serif;
	min-width: 300px;
	background: #f5f5f5;
	color: #888;
	padding-bottom: 4rem;
	max-width: 700px;
	letter-spacing: 0px;
}

/* Basic typography */
h1, h2, h3 {
	color: #666;
	font-weight: normal;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 2rem;
}
p {
	font-size: 1.8rem;
}
h2, p {
	margin: 1rem 0;
}
a, a:visited {
	text-decoration: none;
	color: #888;
	cursor: pointer;
}
p a {
	text-decoration: underline;
}
.editorial h2,
.editorial h3, 
.editorial p {
	background: #ddd;
	padding: 1rem;
}
h1 a {
	font-size: 2.8rem;
}
header {
	height: 60px;
	position: absolute;
	right: 15px;
	top: -1px;
}
header > a {
	float: right;
	margin-top: 1.5rem;
	font-size: 1.4rem;
	color: #555;
}
header > a:visited {
	color: #555;
}
header a.menu {
	margin-left: 1rem;
}
header p {
	margin: 2rem 1rem 0 0;
	float: right;
}
pre:focus {
	outline: 0;
}
#body {
	padding-top: 50px;
}
#logo {
	background: url('../img/logo.png') no-repeat 0 0;
	width: 33px;
	height: 35px;
	margin-left: 1rem;
}
.username {
	padding-top: 6px;
}
#customize {
	float: right;
	background: url('../img/iconCustomize.png') no-repeat 0 0;
	width: 35px;
	height: 35px;
	margin-left: 1rem;
}
#customize.active {
	background: url('../img/iconCustomizeActive.png') no-repeat 0 0;
}
/*** GLOBAL FORMS ***/
fieldset select,
fieldset input[type="text"],
fieldset input[type="email"],
fieldset input[type="password"],
.formGroup select,
.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="password"] {
	font-size: 1.5rem;
	padding: 8px;
}
fieldset input[type="text"],
fieldset input[type="email"],
fieldset input[type="password"],
.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="password"] {
	border: none;
	border-bottom: 1px solid #ddd;
	font-style: italic;
	font-weight: lighter;
}
.editorial fieldset input[type="text"],
.editorial fieldset input[type="email"],
.editorial fieldset input[type="password"] {
	display: block;
}
button, 
.addPostImage,
.button {
	font-size: 2.4rem;
	border: 0;
	padding: 1rem;
	background: #faf8c6;
	color: #8a8a8a;
	box-shadow: 1px 2px 3px rgba(128, 128, 128, 0.5);
	cursor: pointer;
}
fieldset,
.formGroup {
	margin-bottom: 1rem;
}
fieldset:last-child,
.formGroup:last-child {
	margin-top: 3rem;
}
label + select {
	display: block;
	border: 1px solid #ddd;
	color: #666;
	outline: none;
	width: 85%;
	font-size: 1.4rem;
	border-radius: 0;
	background: #fff;
	padding: 10px 4px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
input[type="checkbox"] + span {
	height: 20px;
	border: 1px solid #ddd;
	background: #fff;
	width: 24px;
	display: block;
	padding: 10px;
	margin-top: .8rem;
	font-size: 2rem;
	text-align: center;
	text-indent: -99999px;
}
input[type="checkbox"]:checked + span {
	text-indent: 0;
}

#flash {
	display: none;
	z-index: 100;
	position: fixed;
	width: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
}
#flash .close {
	top: 0;
	right: 6px;
	position: absolute;
}
#flash pre {
	color: #fff;
	font-size: 1.4rem;
	font-family: 'Helvetica', arial, sans-serif;
}
.btnPublishContainer {
	display: block;
	text-align: center;
	margin-top: 2rem;
	position: relative;
}
.addPost,
.btnPublishContainer button {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 660px;
	margin-bottom: 2rem;
}
.addPost span {
	background: url('../img/iconAdd.png') no-repeat 0 0;
	height: 19px;
	width: 19px;
	display: inline-block;
}
.btnPublishContainer button {
	height: 88px;
}
.btnPublishContainer button span {
	background: url('../img/iconPublish.png') no-repeat 0 50% #faf8c6;
	width: 24px;
	height: 16px;
	display:  inline-block;
}
.postTypes {
	color: #8a8a8a;
	margin: 0;
	text-align: center;
}
.postTypes li {
	display: inline-block;
	margin-right: 2rem;
}
.postTypes button,
.addPostImage {
	padding: 0;
	width: 90px;
	padding-top: 49px;
	padding-bottom: 10px;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-right: -14px;
}
.addPostText {
	background: url('../img/iconAddText.png') #faf8c6 no-repeat center 19px;
}
.addPostHeadline {
	background: url('../img/iconAddHeadline.png') #faf8c6 no-repeat center 17px;
}
.addPostImage {
	background: url('../img/iconAddImage.png') #faf8c6 no-repeat center 14px;
}
.postTypes .item {
	display: inline-block;
	padding: 0 5em;
}
.loader {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 200px;
}
.loader p {
	font-size: 1.8rem;
}
.spinner {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #333;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

#publishNow {
	width: 80%;
	max-width: 660px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;

}

/*** GLOBAL CLASSES ***/
header div.menu {
	position: absolute;
	right: 0;
	top: 48px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 2px 1px #888;
	z-index: 100;
	padding: 0 12px;
}
header div.menu li {
	margin-bottom: .8rem;
}
.modal {
	position: absolute;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 16px #888;
	border: 1px solid #ddd;
	width: 55%;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 5%;
	padding: 2rem 3rem;
	z-index: 10;
}
.modal h3 {
	text-align: center;
	font-size: 2.2rem;
}
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
	width: 90%;
}
.modal .formGroup.buttonContainer {
	clear: both;
	width: 100%;
}
.modal .formGroup {
	width: 49%;
	display: inline-block;
	margin-bottom: 2rem;
	position: relative;
}
.modal.createUser {
	width: 90%;
	top: 0;
}
.modal.updateSettings {
	width: 200px;
	left: auto;
	margin: 0 auto;
	top: 63px;
	right: 15px;
}
.modal.updateSettings:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent #fff transparent;
	content: '';
	top: -18px;
	position: absolute;
	right: 38px;
}
.modal.updateSettings .formGroup:nth-child(odd) {
	clear: both;
}
.modal.updateSettings label {
	margin-bottom: .8rem;
	display: inline-block;
}
.modal.updateSettings input[type="text"],
.modal.updateSettings input[type="email"],
.modal.updateSettings input[type="password"] {
	width: 60%;
	border: 1px solid #ddd;
	display: block;
}
.modal.createUser .url {
	font-size: 2rem;
	padding: 8px;
}
.post {
	position: relative;
	box-sizing: border-box;
}
.post img {
	width: 100%;
	margin-bottom: .5rem;
}
.post pre a {
	text-decoration: underline;
	color: inherit;
}
.post .options {
	position: absolute;
	top: -4px;
	right: 8px;
	font-size: 22px;
}
.post .image .options {
	top: 4px;
}
.post .options a {
	cursor: pointer;
	color: #a9a9a9;
}
.post:first-child .options a:first-child,
.post.firstChild .options a:first-child,
.post:last-child .options a:nth-child(2),
.post.lastChild .options a:nth-child(2) {
	display: none;
}
.post .delete {
	font-size: 3rem;
}
.userOwnsPage .post .delete {
	display: inline-block;
}
.postText {
	display: inline-block;
	font-size: 2.3rem;
	white-space: pre-line;
}
.postHeadline {
	white-space: pre-line;
	font-size: 4rem;
	font-style: normal;
}
.postText,
.postHeadline {
	background: #fff;
	width: 100%;
	border: 0;
	line-height: 1;
	font-weight: lighter;
	box-sizing: border-box;
	margin: 0 0 .5rem 0;
}
.colorpicker {
	text-indent: -99999px;
}
#postForms {
	display: none;
}
/*** CSS UTIL ***/
.hidden {
	display: none;
}
/*** ICONS ***/
p.close {
	position: relative;
	margin: 0;
}
p.close a {
	cursor: pointer;
	float: right;
	position: absolute;
	top: -26px;
	right: -30px;
	padding: 4px 8px;
	font-weight: bold;
	text-decoration: none;
}
.close,
p.close a {
	font-size: 3rem;
}
/*** HACKS ***/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}