html {
	font-size: 62.5%;
}
body {
	width: 80%;
	margin: 0 auto;
	font-size: 1.4rem;
	font-weight: lighter;
	min-width: 300px;
	background: #f5f5f5;
	color: #181818;
}
h1, h2, h3 {
	color: #555;
}
a, a:visited {
	text-decoration: none;
	color: #444;
}
p {
	margin: 0;
}
header {
	height: 60px;
}
h1 {
	margin: 1rem 0;
	float: left;
	width: 60%;
	overflow: hidden;
}
h1 a {
	font-size: 2.8rem;
}
#toggleMenu {
	float: right;
	margin-top: 1.5rem;
	font-size: 2rem;
	color: #c6c6c5;
}
#login {
	float: right;
}
#createPostText {
	display: none;
}
#postText {
	border: 0;
	background: #fff;
	font-size: 2rem;
	padding: 2rem 2rem 8rem 2rem;
	box-shadow: 1px 2px 5px #ddd;
	margin-bottom: 4rem;
	line-height: 1.2;
	white-space: pre;
}
.postTypes {
	color: #8a8a8a;
	margin-bottom: 4rem;
	text-align: center;
}
.postTypes li {
	display: inline-block;
	margin-right: 2rem;
}
.postTypes li a {
	font-size: 2rem;
}
.post {
	position: relative;
}
.post .delete {
	position: absolute;
	top: 8px;
	right: 8px;
}
.post.text p {
	border: 0;
	background: #fff;
	font-size: 2rem;
	padding: 2rem;
	box-shadow: 1px 2px 5px #ddd;
	margin: 0 0 4rem 0;
	line-height: 1.2;
	white-space: pre;
}
label {
	width: 120px;
	display: inline-block;
	font-size: 2rem;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	padding: 8px;
	font-size: 2rem;
	border: 1px solid #ddd;
}
fieldset {
	margin-bottom: 1rem;
}
fieldset:last-child {
	margin-top: 3rem;
}
button {
	font-size: 3rem;
	border: 0;
	padding: 1rem;
	background: #fff;
	box-shadow: 1px 2px 5px #ddd;
	color: #8a8a8a;
	margin: 0 auto;
	display: block;
}

#formLogin button {
	display: inline-block;
	margin: auto;
}

.modal {
	display: none;
	position: absolute;
	top: 0;
	background: #fff;
	border: 1px solid #ddd;
	width: 60%;
	left: 20%;
	top: 5%;
	padding: 2rem;
}
.modal h2 {
	margin-bottom: 2rem;
	text-align: center;
}

/* PAGES */
.page.postsByUser #createPostText,
.page.postsByUser #publish {
	display: none;
}