.popover {
  position: absolute;
  z-index: 10;
  width: 90%;
  max-width: 16em;
  margin: 0 auto;
  background: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
  color: var(--color-text-light);
  font-size: 13px;
  user-select: none;

  /* Todo */
  top: 64px;
  right: 7px;
}

@media (--lg-viewport) {
  .popover {
    font-size: 15px;
    max-width: 17em;
  }
}

.popover-row {
  display: block;
  position: relative;
  border-bottom: 1px solid var(--color-divider);
  min-height: 2.85em;
  cursor: default;
}

.popover-row:focus {
  outline: 0;
}

.popover-row:focus .popover-label {
  font-weight: bold;
}

.popover-section {
  position: relative;
  padding: 1.55em 1.3em;
  cursor: default;
}

.popover-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1.3em;
}

.popover-control {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.popover-select,
.popover-color {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  font: inherit;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
}

.popover-select {
  font-size: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.popover-color {
  color: transparent;
}

.popover-switch {
  margin: 0.47em 0.85em;
  float: right;
}
