/**
 * Global variables
 */

:root {
  --color-text-light: #888;
  --color-text: #848483;
  --color-text-dark: #525252;
  --color-text-darker: #141414;
  --color-element-light: #cacaca;
  --color-element-dark: #b2b2b2;
  --color-divider: #e8e9e9;
  --color-postit: #f7f5c7;
  --color-postit-highlight: #fcf9af;
  --spacing: 18px;
}

/**
 * Custom media queries
 */

@custom-media --xs-viewport (min-width: 320px);
@custom-media --sm-viewport (min-width: 480px);
@custom-media --md-viewport (min-width: 568px);
@custom-media --lg-viewport (min-width: 768px);
@custom-media --xl-viewport (min-width: 1024px);
@custom-media --xxl-viewport (min-width: 1237px);

@custom-media --high-resolution print, (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi);

/**
 * Imports
 */

@import "./static/css/font.css";
@import "normalize.css";
@import "./static/css/base.css";
@import "./static/css/main.css";
@import "./static/css/devices.css";

@import "./static/css/components/site.css";
@import "./static/css/components/header.css";
@import "./static/css/components/colorpicker.css";
@import "./static/css/components/button.css";
@import "./static/css/components/toggle.css";
@import "./static/css/components/block.css";
@import "./static/css/components/post.css";
@import "./static/css/components/icon.css";
@import "./static/css/components/panel.css";
@import "./static/css/components/modal.css";
@import "./static/css/components/popover.css";
@import "./static/css/components/editor.css";

@import "./static/css/components/utils.css";
