@font-face {
  font-family: 'Akkurat';
  src: url('../font/Akkurat.eot?') format('eot'), 
       url('../font/Akkurat.woff') format('woff'), 
       url('../font/Akkurat.ttf')  format('truetype'),
       url('../font/Akkurat.svg#Akkurat') format('svg');
}
@font-face {
  font-family: 'NothingYouCouldDo';
  font-style: normal;
  font-weight: 400;
  src: local('Nothing You Could Do'), local('NothingYouCouldDo'), url(http://themes.googleusercontent.com/static/fonts/nothingyoucoulddo/v4/jpk1K3jbJoyoK0XKaSyQAXEXHkG8fPQqt_tcmM6oBg_3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}

@font-face {
  font-family: 'CutiveMono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono'), local('CutiveMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/cutivemono/v2/N5odNRruTwjvCM8y77PhQbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'KiteOne';
  font-style: normal;
  font-weight: 400;
  src: local('Kite One'), local('KiteOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/kiteone/v2/VNHoD96LpZ9rGZTwjozAOnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v4/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'FanwoodText';
  font-style: normal;
  font-weight: 400;
  src: local('Fanwood Text'), local('FanwoodText-Regular'), url(http://themes.googleusercontent.com/static/fonts/fanwoodtext/v4/hDNDHUlsSb8bgnEmDp4T_qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: local('Delius-Regular'), url(http://themes.googleusercontent.com/static/fonts/delius/v4/brLBPBAUw-PpA7n74Uo__uvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}