<script type="text/ng-template" id="postText.html">
	<div class="post-inner" ng-class="userSettings.showboxes ? '' : 'is-unboxed'">
		<form class="post-content-pre" ng-style="{ 'background': userSettings.showboxes ? userSettings.postbackgroundcolor : 'transparent', 'font-family': userSettings.typefaceparagraph, 'color': userSettings.posttextcolor }">
			{% include 'modules/postOptions.html' %}
			<div ng-model="post.content"
					 class="post-editor"
					 medium-editor
					 options='{"placeholder": "", "forcePlainText": true, "checkLinkFormat": true, "cleanPastedHTML": false, "buttons": ["bold", "italic", "anchor"]}'
					 ng-blur="savePost($event, post)"></div>
		</form>
	</div>
</script>
