<script type="text/ng-template" id="postVideo.html">
  <div class="post-inner" ng-class="userSettings.showboxes ? '' : 'is-unboxed'">
    <div class="post-content-pre is-input" ng-show="!post.isValidVideo" ng-style="{ 'background': userSettings.showboxes ? userSettings.postbackgroundcolor : 'transparent', 'font-family': userSettings.typefaceparagraph, 'color': userSettings.posttextcolor }">
      {% include 'modules/postOptions.html' %}
      <div ng-model="test"
          class="post-editor"
          medium-editor
          options='{"placeholder": "[[post.helpText]]", "disableToolbar": true, "disableReturn": true, "forcePlainText": true, "checkLinkFormat": true, "cleanPastedHTML": false, "buttons": ["bold", "italic", "anchor"]}'
          ng-paste="savePostVideo($event, post)"></div>
    </div>
    <div class="post-content-block is-fixedratio" ng-show="post.isValidVideo">
      {% include 'modules/postOptions.html' %}
      <iframe width="100%" height="360" ng-src="[[post.key | safeYoutubeUrl ]]" frameborder="0" allowfullscreen mozallowfullscreen webkitallowfullscreen onload="this.style.visibility='visible';"></iframe>
    </div>
  </div>
</script>
