<script type="text/ng-template" id="postVideo.html">
	<div class="post-inner" ng-class="userSettings.showboxes ? '' : 'is-unboxed'">
		<div class="post-content-pre" ng-show="!post.isValidVideo">
			{% include 'modules/postOptions.html' %}
			<pre ng-paste="savePostVideo($event, post)" data-changed="false" contenteditable ng-bind="post.helpText ? post.helpText : post.key" ng-style="{ 'background': userSettings.showboxes ? userSettings.postbackgroundcolor : 'transparent', 'font-family': userSettings.typefaceparagraph, 'color': userSettings.posttextcolor }"></pre>
		</div>
		<div class="post-content-block" ng-show="post.isValidVideo">
			{% include 'modules/postOptions.html' %}
			<iframe width="100%" height="360" ng-src="[[post.key | safeYoutubeUrl ]]" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</script>
