<script type="text/ng-template" id="postHeadline.html">
  <div class="post-inner is-headline" ng-class="userSettings.showboxes ? '' : 'is-unboxed'">
    <form class="post-content-pre is-larger" ng-style="{ 'background': userSettings.showboxes ? userSettings.postbackgroundcolor : 'transparent', 'font-family': userSettings.typefaceheadline, 'color': userSettings.posttextcolor }">
      {% include 'modules/postOptions.html' %}
      <div ng-model="post.content"
           class="post-editor"
           medium-editor
           options='{"buttonLabels": {"bold": "<svg role=\"img\"><use xlink:href=\"#format-bold\"></use></svg>", "italic": "<svg role=\"img\"><use xlink:href=\"#format-italic\"></use></svg>", "anchor": "<svg role=\"img\"><use xlink:href=\"#format-link\"></use></svg>", "justifyCenter": "<svg role=\"img\"><use xlink:href=\"#format-center\"></use></svg>"}, "placeholder": "", "forcePlainText": true, "checkLinkFormat": true, "cleanPastedHTML": false, "buttons": ["bold", "italic", "anchor", "justifyCenter"]}'
           ng-blur="savePost($event, post)"></div>
    </form>
  </div>
</script>
