<script type="text/ng-template" id="postText.html">
	<div class="post-inner" ng-class="userSettings.showboxes ? '' : 'is-unboxed'">
		<form class="post-content-pre" ng-style="{ 'background': userSettings.showboxes ? userSettings.postbackgroundcolor : 'transparent', 'font-family': userSettings.typefaceparagraph, 'color': userSettings.posttextcolor }">
			{% include 'modules/postOptions.html' %}
			<pre ng-blur="savePost($event, post)" data-changed="false" contenteditable ng-bind-html="post.content"></pre>
		</form>
	</div>
</script>
