<script type="text/ng-template" id="postOptions.html">
  <div class="post-option">
    <button class="post-option-action is-up" ng-click="movePost($index, $index - 1)" title="move up" tabindex="-1">
      <svg role="presentation"><use xlink:href="#arrow-up"></use></svg>
    </button>
    <button class="post-option-action is-down" ng-click="movePost($index, $index + 1)" title="move down" tabindex="-1">
      <svg role="presentation"><use xlink:href="#arrow-down"></use></svg>
    </button>
    <button class="post-option-action is-delete" ng-click="deletePost($index, post)" title="delete" tabindex="-1">
      <svg role="presentation"><use xlink:href="#cross"></use></svg>
    </button>
  </div>
</script>