<script type="text/ng-template" id="postHeadline.html">
	<a href="#" ng-show="user.isAuthenticated || isStartPage" ng-click="deletePost($index, post)" class="delete"></a>
	<div class="sorter">
		<a class="up" ng-click="movePost($index, $index - 1)">&#x25B2;</a>
		<a class="down" ng-click="movePost($index, $index + 1)">&#x25BC;</a>
	</div>
	<form class="form createPostHeadline" method="put" action="/api/postHeadline">
		<pre ng-blur="savePost($event, $index, post)" class="postHeadline" data-changed="false" contenteditable ng-bind-html="post.content | linky"></pre>
	</form>
 </script>