<script type="text/ng-template" id="postVideo.html">
	<div class="post-inner" ng-class="userSettings.showboxes ? '' : 'is-unboxed'">
		<div class="post-options">
			<a class="post-up" ng-click="movePost($index, $index - 1)" title="move up">&#x25B2;</a>
			<a class="post-down" ng-click="movePost($index, $index + 1)" title="move down">&#x25BC;</a>
			<a href="#" ng-click="deletePost($index, post)" class="post-delete" title="delete">×</a>
		</div>
		<pre ng-show="!post.isValidVideo" ng-blur="savePostVideo($event, post)" class="post-video" data-changed="false" contenteditable ng-bind="post.helpText ? post.helpText : post.key"></pre>
		<iframe ng-show="post.isValidVideo" width="100%" height="360" ng-src="[[post.key | safeYoutubeUrl ]]" frameborder="0" allowfullscreen></iframe>
	</div>
</script>