<script type="text/ng-template" id="postHeadline.html">
	<div class="options">
		<a class="up" ng-click="movePost($index, $index - 1)" title="move up">&#x25B2;</a>
		<a class="down" ng-click="movePost($index, $index + 1)" title="move down">&#x25BC;</a>
		<a href="#" ng-click="deletePost($index, post)" class="delete" title="delete">×</a>
	</div>
	<form class="form createPostHeadline">
		<pre ng-blur="savePost($event, post)" class="postHeadline" data-changed="false" contenteditable ng-bind-html="post.content | linky" ng-style="{ 'background': userSettings.showboxes ? userSettings.postbackgroundcolor : 'transparent', 'font-family': userSettings.typefaceheadline, 'color': userSettings.posttextcolor, 'padding' : userSettings.showboxes ? '2rem' : '0' }"></pre>
	</form>
</script>