<div class="popover-header">
  <button class="button" data-go-to-panel="panelPrimarySettings">
    {% include 'modules/inlineSvg/arrowLeft.html' %} Settings
  </button>
</div>

<div class="popover-scroll">
  <label class="panel-item" style="font-family: 'Akkurat'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Akkurat" ng-model="userSettings.typefaceparagraph">Akkurat
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Source Sans Pro'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Source Sans Pro" ng-model="userSettings.typefaceparagraph">Source Sans Pro
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Reenie Beanie'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Reenie Beanie" ng-model="userSettings.typefaceparagraph">Reenie Beanie
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Raleway'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Raleway" ng-model="userSettings.typefaceparagraph">Raleway
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Josefin Sans'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Josefin Sans" ng-model="userSettings.typefaceparagraph">Josefin Sans
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Open Sans'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Open Sans" ng-model="userSettings.typefaceparagraph">Open Sans
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Rokkitt'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Rokkitt" ng-model="userSettings.typefaceparagraph">Rokkitt
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Fredoka One'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Fredoka One" ng-model="userSettings.typefaceparagraph">Fredoka One
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Libre Baskerville'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Libre Baskerville" ng-model="userSettings.typefaceparagraph">Libre Baskerville
    </span>
  </label>
  <label class="panel-item" style="font-family: 'EB Garamond'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="EB Garamond" ng-model="userSettings.typefaceparagraph">EB Garamond
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Geo'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Geo" ng-model="userSettings.typefaceparagraph">Geo
    </span>
  </label>
  <label class="panel-item" style="font-family: 'VT323'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="VT323" ng-model="userSettings.typefaceparagraph">VT323
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Text Me One'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Text Me One" ng-model="userSettings.typefaceparagraph">Text Me One
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Nova Cut'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Nova Cut" ng-model="userSettings.typefaceparagraph">Nova Cut
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Cherry Swash'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Cherry Swash" ng-model="userSettings.typefaceparagraph">Cherry Swash
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Italiana'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Italiana" ng-model="userSettings.typefaceparagraph">Italiana
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Inconsolata'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Inconsolata" ng-model="userSettings.typefaceparagraph">Inconsolata
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Abril Fatface'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Abril Fatface" ng-model="userSettings.typefaceparagraph">Abril Fatface
    </span>
  </label>
  <label class="panel-item" style="font-family: 'Chivo'">
    <span class="panel-item-text is-larger">
      <input class="panel-item-hidden" type="radio" value="Chivo" ng-model="userSettings.typefaceparagraph">Chivo
    </span>
  </label>
</div>
