<div class="loader" ng-show="loader.isShown" ng-cloak>
	<div class="spinner"></div>
	<p>[[loader.message]]</p>
</div>

<div id="closeOverlays" ng-show="settingsService.isOpen" ng-click="settingsService.close()"></div>

{% include 'modules/modalSettings.html' %}

<script src="{{ url_for('static', filename='build/posties.js') }}"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-50858987-1', 'auto');
	ga('send', 'pageview');
</script>
