<script src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mustache.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/colorpicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
<script src="{{ url_for('static', filename='js/directives.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>