<div id="flash">
	<div id="flashIntro">
		<p class="close"><a></a></p>
		<h5>Congratulations!</h5>
		<p>Your site is now live!</p>
	</div>
	<div id="flashSaved">
		<p class="close"><a></a></p>
		<p>Saved...</p>
	</div>
</div>
<header>
	<a id="logo" class="toggler menu" href="#menu">&nbsp;</a>
	{% if current_user and current_user.is_authenticated() %}
		<a href="/by/{{current_user.username}}">{{current_user.username}}</a>
		<div id="menu" class="menu">
			<ul>
				<li><a href="/logout">Sign out</a></li>
				<li><a href="#modalUpdateSettings" class="toggler settings">Settings</a></li>
			</ul>
		</div>
		{% include 'modules/modalSettings.html' %}
	{% else %}
		<a href="#modalLogin" class="toggler login">Login</a>
		{% include 'modules/modalLogin.html' %}
	{% endif %}
	<p><a href="#">Register</a> or <a href="#">learn more</a></p>
</header>