<div id="flash">
	<div id="flashIntro">
		<p class="close"><a></a></p>
		<h5>Congratulations!</h5>
		<p>Your site is now live!</p>
	</div>
	<div id="flashSaved">
		<p class="close"><a></a></p>
		<p>Saved...</p>
	</div>
</div>
<header>
	<a id="logo" class="menu">&nbsp;</a>
	<a id="openTopMenu" ng-click="showMenuTop = !showMenuTop">&nbsp;</a>
	{% if current_user and current_user.is_authenticated() %}
		<a href="/by/{{current_user.username}}">{{current_user.username}}</a>
		<div class="menu" ng-show="showMenuTop" ng-cloak>
			<ul>
				<li><a href="#modalUpdateSettings" class="toggler settings">Customize</a></li>
				<li><a href="/logout">Sign out</a></li>
				<li><a href="http://getposties.tumblr.com/what-is-posties">About Posti.es</a></li>
			</ul>
		</div>
		{% include 'modules/modalSettings.html' %}
	{% else %}
		<div class="menu" ng-show="showMenuTop" ng-cloak>
			<ul>
				<li><a ng-click="showModalLogin = !showModalLogin">Login</a></li>
				<li><a href="http://getposties.tumblr.com/what-is-posties">About Posti.es</a></li>
			</ul>
		</div>
		{% include 'modules/modalLogin.html' %}
	{% endif %}
</header>