<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Posti.es</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Posti.es, instant one page website creator">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ asset_url_for('favicon', 'ico', false) }}" type="image/png">
  <link rel="shortcut icon" type="image/png" href="{{ asset_url_for('favicon', 'ico', false) }}">
  <link rel="stylesheet" href="{{ asset_url_for('posties', 'css') }}">
</head>
