<div class="popover updateSettings" id="modalUpdateSettings" ng-show="settingsService.isOpen" ng-cloak>
	<form id="updateSettings" method="put" name="formSettings" ng-submit="settingsService.submitUpdateSettings(userSettings)" novalidate>

		<div class="panel is-active" id="panelPrimary">
			<a class="panel-nav-item" data-go-to-panel="panelTextFont">
				<span class="panel-label">Text font</span>
				<div class="panel-preview">
					<span class="panel-preview-font" ng-model="userSettings.typefaceparagraph" style="font-family: '[[userSettings.typefaceparagraph]]'">
						[[userSettings.typefaceparagraph]]
					</span>
				</div>
			</a>
			<a class="panel-nav-item" data-go-to-panel="panelHeadlineFont">
				<span class="panel-label">Headline font</span>
				<div class="panel-preview">
					<span class="panel-preview-font" ng-model="userSettings.typefaceheadline" style="font-family: '[[userSettings.typefaceheadline]]'">
						[[userSettings.typefaceheadline]]
					</span>
				</div>
			</a>
			<label class="panel-nav-item is-static" for="showBoxes">
				<span class="panel-label">Use boxes</span>
				<div class="panel-preview">
					<div class="panel-preview-toggle toggle">
						<input id="showBoxes" type="checkbox" ng-checked="userSettings.showboxes" ng-model="userSettings.showboxes">
						<div class="toggle-handle"></div>
					</div>
				</div>
			</label>
			<a class="panel-nav-item is-adaptive" data-go-to-panel="panelBoxColor">
				<span class="panel-label">Box color</span>
				<span class="panel-preview" style="background-color: [[userSettings.postbackgroundcolor]]"></span>
			</a>
			<a class="panel-nav-item is-adaptive" data-go-to-panel="panelTextColor">
				<span class="panel-label">Text color</span>
				<span class="panel-preview" style="background-color: [[userSettings.posttextcolor]]"></span>
			</a>
			<a class="panel-nav-item is-adaptive" data-go-to-panel="panelBackground">
				<span class="panel-label">Background</span>
				<span class="panel-preview" style="background-color: [[userSettings.pagebackgroundcolor]]"></span>
			</a>
			<div class="popover-body">
				<button class="button" ng-click="userSettings = settingsService.getDefaultSettings()">Reset</button>
				<span style="margin-left: 0.5em;">or <a role="button" ng-click="userSettings = settingsService.getRandomSettings()">randomize</a>!</span>

				<button class="button" style="padding: 14px 0; margin: 10px 0 0; width: 100%; ">Save (temp button)</button>
			</div>
		</div>

		<div class="panel" id="panelTextFont">
			<div class="popover-header"><button class="button" data-go-to-panel="panelPrimary">Back</button></div>
			<select class="popover-select" id="typefaceParagraph" ng-model="userSettings.typefaceparagraph">
				<option value="Akkurat" ng-selected="userSettings.typefaceparagraph == 'Akkurat'">Akkurat</option>
				<option value="Source Sans Pro" ng-selected="userSettings.typefaceparagraph == 'Source Sans Pro'">Source Sans Pro</option>
				<option value="Reenie Beanie" ng-selected="userSettings.typefaceparagraph == 'Reenie Beanie'">Reenie Beanie</option>
				<option value="Raleway" ng-selected="userSettings.typefaceparagraph == 'Raleway'">Raleway</option>
				<option value="Josefin Sans" ng-selected="userSettings.typefaceparagraph == 'Josefin Sans'">Josefin Sans</option>
				<option value="Open Sans" ng-selected="userSettings.typefaceparagraph == 'Open Sans'">Open Sans</option>
				<option value="Rokkitt" ng-selected="userSettings.typefaceparagraph == 'Rokkitt'">Rokkitt</option>
				<option value="Fredoka One" ng-selected="userSettings.typefaceparagraph == 'Fredoka One'">Fredoka One</option>
				<option value="Libre Baskerville" ng-selected="userSettings.typefaceparagraph == 'Libre Baskerville'">Libre Baskerville</option>
				<option value="EB Garamond" ng-selected="userSettings.typefaceparagraph == 'EB Garamond'">EB Garamond</option>
				<option value="Geo" ng-selected="userSettings.typefaceparagraph == 'Geo'">Geo</option>
				<option value="VT323" ng-selected="userSettings.typefaceparagraph == 'VT323'">VT323</option>
				<option value="Text Me One" ng-selected="userSettings.typefaceparagraph == 'Text Me One'">Text Me One</option>
				<option value="Nova Cut" ng-selected="userSettings.typefaceparagraph == 'Nova Cut'">Nova Cut</option>
				<option value="Cherry Swash" ng-selected="userSettings.typefaceparagraph == 'Cherry Swash'">Cherry Swash</option>
				<option value="Italiana" ng-selected="userSettings.typefaceparagraph == 'Italiana'">Italiana</option>
				<option value="Inconsolata" ng-selected="userSettings.typefaceparagraph == 'Inconsolata'">Inconsolata</option>
				<option value="Abril Fatface" ng-selected="userSettings.typefaceparagraph == 'Abril Fatface'">Abril Fatface</option>
				<option value="Chivo" ng-selected="userSettings.typefaceparagraph == 'Chivo'">Chivo</option>
			</select>
		</div>

		<div class="panel" id="panelHeadlineFont">
			<div class="popover-header"><button class="button" data-go-to-panel="panelPrimary">Back</button></div>
			<select class="popover-select" id="typefaceHeadline" ng-model="userSettings.typefaceheadline">
				<option value="Akkurat" ng-selected="userSettings.typefaceheadline == 'Akkurat'">Akkurat</option>
				<option value="Source Sans Pro" ng-selected="userSettings.typefaceheadline == 'Source Sans Pro'">Source Sans Pro</option>
				<option value="Reenie Beanie" ng-selected="userSettings.typefaceheadline == 'Reenie Beanie'">Reenie Beanie</option>
				<option value="Raleway" ng-selected="userSettings.typefaceheadline == 'Raleway'">Raleway</option>
				<option value="Josefin Sans" ng-selected="userSettings.typefaceheadline == 'Josefin Sans'">Josefin Sans</option>
				<option value="Open Sans" ng-selected="userSettings.typefaceheadline == 'Open Sans'">Open Sans</option>
				<option value="Rokkitt" ng-selected="userSettings.typefaceheadline == 'Rokkitt'">Rokkitt</option>
				<option value="Fredoka One" ng-selected="userSettings.typefaceheadline == 'Fredoka One'">Fredoka One</option>
				<option value="Libre Baskerville" ng-selected="userSettings.typefaceheadline == 'Libre Baskerville'">Libre Baskerville</option>
				<option value="EB Garamond" ng-selected="userSettings.typefaceheadline == 'EB Garamond'">EB Garamond</option>
				<option value="Geo" ng-selected="userSettings.typefaceheadline == 'Geo'">Geo</option>
				<option value="VT323" ng-selected="userSettings.typefaceheadline == 'VT323'">VT323</option>
				<option value="Text Me One" ng-selected="userSettings.typefaceheadline == 'Text Me One'">Text Me One</option>
				<option value="Nova Cut" ng-selected="userSettings.typefaceheadline == 'Nova Cut'">Nova Cut</option>
				<option value="Cherry Swash" ng-selected="userSettings.typefaceheadline == 'Cherry Swash'">Cherry Swash</option>
				<option value="Italiana" ng-selected="userSettings.typefaceheadline == 'Italiana'">Italiana</option>
				<option value="Inconsolata" ng-selected="userSettings.typefaceheadline == 'Inconsolata'">Inconsolata</option>
				<option value="Abril Fatface" ng-selected="userSettings.typefaceheadline == 'Abril Fatface'">Abril Fatface</option>
				<option value="Chivo" ng-selected="userSettings.typefaceheadline == 'Chivo'">Chivo</option>
			</select>
		</div>

		<div class="panel" id="panelUseBoxes">
			<div class="popover-header"><button class="button" data-go-to-panel="panelPrimary">Back</button></div>
			Use boxes
		</div>

		<div class="panel" id="panelBoxColor">
			<div class="popover-header"><button class="button" data-go-to-panel="panelPrimary">Back</button></div>
			<div class="popover-body">
				<input class="minicolors" maxlength="7" type="text" ng-model="userSettings.postbackgroundcolor">
			</div>
		</div>

		<div class="panel" id="panelTextColor">
			<div class="popover-header"><button class="button" data-go-to-panel="panelPrimary">Back</button></div>
			<div class="popover-body">
				<input class="minicolors" maxlength="7" type="text" ng-model="userSettings.posttextcolor">
			</div>
		</div>

		<div class="panel" id="panelBackground">
			<div class="popover-header"><button class="button" data-go-to-panel="panelPrimary">Back</button></div>
			<div class="popover-body">
      	<input class="minicolors" maxlength="7" type="text" ng-model="userSettings.pagebackgroundcolor">
			</div>
		</div>

	</form>
</div>
