<nav class="popover is-nav" ng-show="showNavigation" ng-cloak>
  <div class="popover-arrow">
    {% include 'modules/inlineSvg/popoverArrow.html' %}
  </div>
  <div class="panels">
    <div class="panel is-active" id="panelPrimaryNavigation">
      {% if is_start_page %}
        <div class="popover-body">
          <form class="popover-form" name="formLogin" method="post" ng-submit="submitLogin()">
            <span class="popover-form-title">Sign in</span>
            <input type="text" name="username" ng-model="login.username" placeholder="Website address" required autocapitalize="off" autocorrect="off">
            <input type="password" name="password" ng-model="login.password" placeholder="Password" required autocapitalize="off" autocorrect="off">
            <button class="button is-full">OK</button>
            <a class="popover-form-link">Forgot password?</a>
          </form>
        </div>
      {% endif %}

      {% if user_owns_page %}
        <div class="popover-body">
          <p class="popover-intro">You are currenty editing <strong>{{current_user.username}}</strong></p>
        </div>
        <a class="panel-item is-first is-underlined" href="/logout">
          <span class="panel-item-text is-padded">Sign out</span>
        </a>
      {% endif %}

      {% if not is_start_page and not user_owns_page %}
        <div class="popover-body">
          <p class="popover-intro">This website is done with <a href="http://posti.es">Posti.es</a>. <br><span></span>It's free and so simple, even your parents could do it.</p>
          <a class="button popover-intro-button" href="/">Create a website</a>
        </div>
        <a class="panel-item is-first" data-go-to-panel="panelLogin">
          <span class="panel-item-text is-padded">Edit this website</span>
          <div class="panel-item-chevron"></div>
        </a>
      {% endif %}

      <a href="http://posti.es/by/posties" {% if not user_owns_page %}target="_blank"{% endif %} class="panel-item is-underlined {% if is_start_page %}is-first{% endif %}">
        <span class="panel-item-text is-padded">About Posti.es</span>
      </a>
    </div>


    {% if not is_start_page and not user_owns_page %}
      <div class="panel" id="panelLogin">
        <div class="popover-header">
          <button class="button" data-go-to-panel="panelPrimaryNavigation">Back</button>
        </div>

        <div class="popover-body">
          <form class="popover-form" name="formLogin" method="post" ng-submit="submitLogin()">
            <span class="popover-form-title">Edit this website</span>
            <script>var USERNAME = "{{page_username}}"</script>
            <input type="password" name="password" ng-model="login.password" placeholder="Password" required autocapitalize="off" autocorrect="off">
            <button class="button is-full">OK</button>
            <a class="popover-form-link">Forgot password?</a>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
</nav>
