.welcome {
  display: none;
  font-size: 18px;
  border: solid var(--color-element-dark);
  border-width: 1px 0;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  margin: 0 0 14px;
}

.welcome strong {
  margin-bottom: 0.35em;
  display: block;
}

.welcome-close,
.welcome span {
  width: 22px;
  height: 22px;
  padding: 8px;
  box-sizing: content-box;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.welcome span {
  display: inline-block;
  float: none;
  padding: 0;
  -webkit-transform: rotate(-270deg) scale(-1, 1);
  position: relative;
  margin-top: -30px;
  width: 25px;
  height: 25px;
  top: -2px;
}

@media (--md-viewport) {
  .welcome {
    font-size: 23px;
  }

  .welcome span {
    width: 40px;
    height: 40px;
    top: -4px;
  }
}

.welcome-close {
  position: absolute;
  top: 3px;
  right: 1px;
}

.welcome-close svg,
.welcome span svg {
  border-radius: 50%;
  padding: 4px;
  margin: -4px 0 0 -4px;
}

.welcome-close path {
  stroke: #848483;
}

.welcome span path {
  fill: #838381;
}

#flash {
  display: none;
  z-index: 100;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 734px;
}

#flash .close {
  top: 2px;
  right: 8px;
  position: absolute;
  text-decoration: none;
}

#flash pre {
  color: #fff;
  font-size: 15px;
  font-family: var(--base-font-family);
}
