.post {

}

.post {
  position: relative;
  box-sizing: border-box;
  margin: 5px 0;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  margin-bottom: 0;
}

.post:first-child .post-inner.is-unboxed {
  margin-top: 13px;
}

.post p,
.post h1 {
  margin: 0;
  font: inherit;
}

.post img,
.post iframe {
  width: 100%;
  display: block;
}

.post pre {
  width: 100%;
  display: block;
  border: 0;
  font: inherit;
  white-space: pre-line;
  background: transparent;
}

.post a {
  text-decoration: underline;
  color: inherit;
}

.post a:active {
  opacity: 0.8;
}

/**
 * Post content types
 */

.post-content-pre {
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 18px;
  background: #fff;
  padding: 26px 20px;
}

.post-content-pre.is-larger {
  font-size: 32px;
  padding: 22px 20px;
}

.post-content-block {

}

.post-content-loading {
  font-size: 20px;
  padding: 20px 0;
  border-top: 2px solid #8a8a8a;
  border-bottom: 2px solid #8a8a8a;
  text-align: center;
}

.post-inner.is-unboxed .post-content-pre {
  padding: 13px 10px;
}

.post-inner.is-unboxed .post-content-pre.is-larger {
  padding: 9px 10px;
}

.post-inner.is-unboxed .post-content-block {
  margin: 13px 10px;
}


@media (--md-viewport) {
  .post-content-pre {
    padding: 34px 32px;
  }

  .post-content-pre.is-larger {
    padding-top: 28px 32px;
  }

  .post-inner.is-unboxed .post-content-pre {
    padding: 13px 32px;
  }

  .post-inner.is-unboxed .post-content-pre.is-larger {
    padding: 9px 32px;
  }

  .post-inner.is-unboxed .post-content-block {
    margin: 0 32px;
  }
}

@media (--lg-viewport) {
  .post-content-pre {
    font-size: 23px;
  }

  .post-content-pre.is-larger {
    font-size: 40px;
  }
}

/**
 * Post options
 */

.post-option {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 0 2px;
}

.post-inner.is-unboxed .post-option {
  margin-top: -15px;
}

.post-option-action {
  width: 15px;
  height: 15px;
  padding: 8px 6px;
  box-sizing: content-box;
  float: left;
}

.post-inner.is-unboxed .post-option {
  margin: -13px 10px 0 0;
}

.post-inner.is-unboxed .post-content-block .post-option {
  margin-top: 0;
}

.post-option-action svg {
  border-radius: 50%;
  padding: 4px;
  margin: -4px 0 0 -4px;
}

@media (--md-viewport) {
  .post-inner.is-unboxed .post-option {
    margin-right: 32px;
  }
}

.post-content-block .post-option-action svg {
  background: rgba(255, 255, 255, .5);
}

.post-option-action path {
  stroke: var(--color-text);
}

.post-option-action:hover path {
  stroke: var(--color-text-dark);
}

.post:first-child .post-option-action.is-up,
.post:last-child .post-option-action.is-down {
  display: none;
}
