{% include 'modules/head.html' %}
{% include 'modules/header.html' %}
	<div id="body">
		<form id="createPostText" class="form" method="post" action="/api/createPostText">
			<div id="postText" contenteditable="true">This user couldn't be found.
				But you can claim this account by editing this text any way you'd like.
				Click publish when done, and your new website is ready!
			</div>
			<a href="#" id="add">+ Add image</a>
			<button id="publish">Publish</button>
		</form>
	</div>
	{% include 'modules/modalCreateUser.html' %}
</body>
{% include 'modules/footer.html' %}