<!DOCTYPE html>
<html ng-app="posties" ng-controller="PageIndexCtrl" class="pageIndex">
{% include 'modules/head.html' %}
<body ng-style="{ 'background': userSettings.pagebackgroundcolor }" {% if current_user and current_user.is_authenticated() %} class="authenticated userOwnsPage" {% endif %}>
{% include 'modules/header.html' %}
	<div id="body">
		{% include 'modules/postTypes.html' %}
		<div id="btnPublishContainer">
			<button ng-click="publish()">Publish this page</button>
		</div>
		<ul id="posts">
			<li ng-repeat="post in posts" data-id="[[post.id]]" data-rank="[[post.sortrank]]" class="post">
				<ng-include src="post.template"></ng-include>
			</li>
		</ul>
		{% include 'modules/jsTemplates/postTextAuthenticated.html' %}
		{% include 'modules/jsTemplates/postHeadlineAuthenticated.html' %}
		{% include 'modules/jsTemplates/postImage.html' %}
		{% include 'modules/modalCreateUser.html' %}
	</div>
</body>
{% include 'modules/footer.html' %}