<!DOCTYPE html>
<html ng-app="posties" ng-controller="PageLoginCtrl">
{% include 'modules/head.html' %}
<body class="index">
{% include 'modules/header.html' %}
	<div id="body" class="page">
		<h3>Login</h3>
		<form name="formLogin" class="form" method="post" ng-submit="submitLogin(userSettings)">
			<fieldset>
				<input type="text" class="email" name="email" ng-model="user.email" placeholder="email" required pattern=".{5,}" />
				<input type="text" class="password" name="password" ng-model="user.password" placeholder="password" required pattern=".{4,}" />
			</fieldset>
			<p>[[formLogin.error]]</p>
			<fieldset class="buttonContainer">
				<button>Login</button>
			</fieldset>
		</form>
	</div>
</body>
{% include 'modules/footer.html' %}