{% include 'modules/head.html' %}
{% include 'modules/header.html' %}
	<style>
		body {
			background-color: {{user.settings.pagebackgroundcolor}};
		}
        .post {
        	color: {{user.settings.posttextcolor}};
        	background-color: {{user.settings.postbackgroundcolor}};
        }
        .post.text p,
        #createPostText textarea {
        	font-family: {{user.settings.typefaceparagraph}}
        }
        .post.headline h5,
        #createPostHeadline input {
        	font-family: {{user.settings.typefaceheadline}}
        }
	</style>
	<div id="body" class="page postsByUser">
		{% if current_user and current_user.is_authenticated() and user_owns_page %}
			{% include 'modules/createPostText.html' %}
			{% include 'modules/createPostHeadline.html' %}
			{% include 'modules/createPostImage.html' %}
			{% include 'modules/postTypes.html' %}
			<div id="btnPublishContainer">
				<button>Publish</button>
			</div>
		{% endif %}
		<ul id="posts">
			{% if not posts %}
				<li>No posts found</li>
			{% else %}
				{% for post in posts %}
					{% if post.type == 0 %}
						<li class="post text" data-id="{{post.id}}" data-rank="{{post.sortrank}}">
							{% if current_user and current_user.is_authenticated() and user_owns_page %}
								<a href="#" class="delete"></a>
								<div class="sorter">
									<a href="#" class="up">&#x25B2;</a>
									<a href="#" class="down">&#x25BC;</a>
								</div>
							{% endif %}
							<p>{{post.content|safe}}</p>
						</li>
					{% elif post.type == 1 %}
						<li class="post image" data-id="{{post.id}}" data-rank="{{post.sortrank}}">
							{% if current_user and current_user.is_authenticated() and user_owns_page %}
								<a href="#" class="delete"></a>
								<div class="sorter">
									<a href="#" class="up">&#x25B2;</a>
									<a href="#" class="down">&#x25BC;</a>
								</div>
							{% endif %}
							<img src="https://s3-eu-west-1.amazonaws.com/posties/{{post.key}}" alt="image" />
						</li>
					{% elif post.type == 2 %}
						<li class="post headline" data-id="{{post.id}}" data-rank="{{post.sortrank}}">
							{% if current_user and current_user.is_authenticated() and user_owns_page %}
								<a href="#" class="delete"></a>
								<div class="sorter">
									<a href="#" class="up">&#x25B2;</a>
									<a href="#" class="down">&#x25BC;</a>
								</div>
							{% endif %}
							<h5>{{post.content|safe}}</h5>
						</li>	
					{% endif %}
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	{% include 'modules/jsTemplates/postText.html' %}
	{% include 'modules/jsTemplates/postHeadline.html' %}
	{% include 'modules/jsTemplates/flashUserCreated.html' %}
</body>
{% include 'modules/footer.html' %}